.carrossel {
    position: relative;
    display: flex;
    width: 300px;
    height: 350px;
    top: 450px;
    margin: 0px auto;
    background-image: linear-gradient(90deg, #ffffff, #ffffff8f);

}
.galeria > .titulo-topo {
    display: flex;
    position: absolute;
    width: 500px;
    margin-top: -45px;
    left: -99px;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}
.icone-slide {
    width: 100px;
    height: 100px;
} 
.galeria {
    display: flex;
    overflow: hidden;
    border: 1px solid #fffefe;
    box-shadow: 2px 4px 4px #4b4b4b;
    border-radius: 3%;
}
.galeria-itens {
    width: 300px;
    height: 100px;
    display: flex;
}
.galeria-itens input {
    display: none;
    top: 0px;
}
.item-galeria {
    width: 300px;
    position: relative;
    transition: 2s;
    background-color: white;
}
.item-galeria img {
    width: 300px;
}
.galeria-itens > .item-galeria .titulo-slide {
    font-size: 24px;
    padding: 0px 8px 0px 8px;
    color: #e78b00;
}
.galeria-itens > .item-galeria .texto-slide {
    font-size: 20px;
    padding: 3px 8px 0px 8px;
    color: #0167b1;
}
.manual-navigation {
    position: absolute;
    width: 500px;
    margin-top: 315px; 
    left: -99px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid rgb(12, 90, 132);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 3px;
}
.manual-btn:hover {
    background-color: rgb(0, 0, 0);
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -100%;
}
#radio3:checked ~ .first {
    margin-left: -200%;
}
.navigation-auto div {
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 300px;
    margin-top: 315px;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 3px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: rgb(0, 0, 0);
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: rgb(0, 0, 0);
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: rgb(0, 0, 0);
}

/* ================= MEDIA SCREN ================== */
 /* Use uma consulta de mídia para adicionar um ponto de interrupção a 800px: */
 @media screen and (max-width: 800px){

    .galeria > .titulo-topo {
        display: flex;
        position: absolute;
        width: 100%;
        margin-top: -25px;
        left: 0px;
        justify-content: center;
        font-size: 14px;
        color: #020202;
        background-image: linear-gradient(90deg, #ffffff, #ffffff8f);

    }
    .carrossel {
        position: relative;
        display: flex;
        width: 300px;
        height: 350px;
        top: 590px;
        margin: 4px auto;
    }
 }