@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&display=swap');

/* Iniciar */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* Cabeçalho */
.cabecalho {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: #00000055;
}
.cabecalho h1 {
    margin-left: 3%;
    color: rgb(150, 4, 4) ; /*  #048f08; */
    font-size: 35px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans', sans-serif;
}
.cabecalho h3 {
    margin-left: 3%;
    color: rgba(7, 76, 156, 0.899) ;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans', sans-serif;
}
/* Menu */
body nav {
    position: absolute;
    top: 10%;
    left: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    height: 8vh;
}


/* .nav-list input {
    display: none;
    margin: 0 0;
    padding: 0 0;
    width: 80px;
    height: 35px;
    opacity: 0;
    cursor: pointer
}
.nav-list label {
    font: bold 30px Arial;
    display: none;
    width: 35px;
    height: 36px;
    line-height: 36px;
    text-align: center
} */

.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    margin-left: 0;
    opacity: 1;
    margin-left: 32px;
    transition: 0.3s;
}
.nav-list li:hover {
    background-color: #9a2c04;
    border-radius: 5px;
    /* box-shadow: 2px 2px 5px rgba(0,0,0, 0.400); */
    box-sizing: border-box;
    padding: 5px 7px;
}
.nav-list li a {
    text-decoration: none;
    color: #000000;
}
.nav-list li a:hover {
    text-decoration: none;
    color: #ffffff;
}    
.nav-list li a.prett::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 6px 5px;
    border-style: solid;
    border-color: #eee transparent transparent transparent;
    position: absolute;
    top: 25px;
    left: 100%;
}
.nav-list.active {
    transform: translate(0);
}

.nav-list li prett a:hover  ul.dropdown {
    display: block;
}   
.dropdown {
    display: none;
    height: 80px;
    width: 40px;
    top: 70%;
    left: 70%;
    background: #1111110f;
    position: absolute;
    z-index: 999;
    display: none;
    border: 0;
}
/* .dropdown li {
    display: block;
    width: 70%;
    margin: 10% 5% 5% 10%;
    text-transform: none;
} */

/* .nav-list:hover ul.dropdown {
    display: block;
} */

.nav-list li:hover ul.dropdown {
    display: block;
    list-style: none;
    width: 40%;
    left: 73%;
    margin: .6% 2%;
    text-transform: none;
}
.nav-list li ul.dropdown li {
    display: block;
    list-style: none;
    width: 65%;
    padding: 5px;
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #FFF;
    margin: 8px;
    transition: 0.3s;
}
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(-45deg) translate(-5px, 7px);
}



/* Área de pesquisa do Site */
.buscador {
    position: absolute;
    top: 25%;
    left: 40%;
    display: block;
    margin: 7px;
    padding: 1px 15px;
}


.left {
    float: left;
    width: 80%; /* A largura é de 80%, por padrão */
}
.right {
    float: right;
    width: 20%; /* A largura é de 20%, por padrão */
}
.main {
    float: left;
    width: 97%; /* A largura é de 60%, por padrão */
    margin: 96px 30px 20px 30px;
    padding: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
 /* Use uma consulta de mídia para adicionar um ponto de interrupção a 800px: */
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* A largura é de 100%, quando o visor é de 800px ou menor */
    }
    body {
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.3);
        max-width: 300px;
        margin-right: 60px;
        margin-top: 16px;
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #c7c7ca;
        color: #ffffff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
    }
  }

.main h2 {
    margin-top: 2%;
    margin-bottom: 1%;
    color:  #0f6469;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 24px;
    padding: 7px;
}

.main h3 {
    margin-top: 5%;
    margin-bottom: 1%;
    color:  #0f6469; /*  #3db36b; */
    border-left: 5px solid rgb(151, 7, 7);
    font-size: 18px;
    padding-left: 7px;
    text-transform: uppercase;
}

.main p {
    margin-top: 1%;
    margin-bottom: 1%;
    color:  #0f6469;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    padding: 7px;
}
.main ul li {
    list-style: none;
}

.hidden{
    display: none;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0f6469;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color:  #04a4cd;
}

/* Links */
.decoration {
    padding: 3px;
     text-align: center;
     text-decoration: none;
     line-height: 30px;
     color: #000000;
     transition: 0.2s;
}

.decoration:hover {
    background-color: #460b0b;
    color: #FFF;
    border-radius: 5px;
}

.rodape {
    clear: both;
    display: inline-block;
    margin: 3%;
}
.rodape ul li {
    list-style: none;
}
.rodape p {
    margin: 1%;
}
.rodape div {
    display: flex;
    float: left;
    width: 100%;
    margin-left: 0%;
    align-items: center;
    justify-content: center;
}
.info {
    display: flexbox;
    width: 100%;
    float: left;
    margin: 0%;
    align-items: baseline;
    justify-content: left;
}
.info div {
    display: flex;
    position:static;
    top: 10%;
    width: 100%;
    margin: 0%;
    align-items: baseline;
    justify-content: left;
}
.info h2 {
    padding: 1% 0% 0% 0%;
}