@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&display=swap');

/* INICIAR LIMPEZA DE ESTILOS */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
}
/* ================= CABEÇALHO ========*/
.cabecalho {
    position: fixed;
    background-image: linear-gradient(90deg, #000000, #bf912e);
    width: 100%;
    padding: 100px;
    top: 0;
    left: 0;
    height: auto;
    transition: .8s;

}

.cabecalho.rolagem {
    background-color: #000000;
    padding: 20px 4%; 
    z-index: 1200;
}
.cabecalho.rolagem a {
    color: #d25800;
}

.container {
    max-width: 100%;
    margin: auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo {
    display: block;
    width: 58%;
}
.logo a img {
    width: 200px;
    padding: 0px;
    margin: 0%;
    top: -40px;
}
.logo h1 {
    color: #fff;
    font-size: 52px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 0px 2px 0px;
    left: 0px;
    top: 0px;
}
.tamanho-diferente {
    color: rgba(255, 255, 255, 0.899) ;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    padding: 19px 5px 0px 0px;
}

.logo h3 {
    color: #ffffffdc;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 2px 0px 0px 35px;
    top: 170px;
}

.banner {
    height: 100vh;
    background-image: url(../img/design.svg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
    align-content: center;
    justify-content: center;
}
.banner > h1{
    display: inline-flexbox;
    position: absolute;
    align-content: center;
    justify-content: center;
    font-size: 3em;
    color: #ffffff;
    top: 280px;
    left: 135px;
}
.banner > h1.destaque, .secao-imgs h3 {
    color: #2264d7;
    top: 500px;
    font-size: 2em;
}

.faixa {
    display: flexbox;
    position: absolute;
    top: 550px;
    left: 250px;
    background-color: #ffffff8a;
    border-radius: 3%;
    box-shadow: 2px 4px 4px #4b4b4b;
}
.faixa2 {
    display: flexbox;
    position: absolute;
    top: 1900px;
    left: 165px;
    background-color: #ffffff20;
    border-radius: 3%;
    box-shadow: 2px 4px 4px #4b4b4b;
}
.faixa3 {
    display: flexbox;
    position: absolute;
    top: 1100px;
    border-right: 0;
    background-color: #0000006c;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
    left: 50px;
    color: #ffffff;
    border-radius: 3%;
    box-shadow: 2px 4px 4px #4b4b4b;
}
.faixa4 {
    display: flexbox;
    position: absolute;
    top: 2400px;
    left: 0;
    background-color: #000000;
    border-radius: 3%;
    box-shadow: 2px 4px 4px #4b4b4b;
}
.faixa5 {
    display: flexbox;
    position: absolute;
    top: 3500px;
    left: 0;
    background-color: #000000;
    border-radius: 3%;
    box-shadow: 2px 4px 4px #4b4b4b;
}
.faixa > img, .faixa2 > img, .faixa3 > img, .faixa4 > img  {
    padding: 2px;
    border: 1px;
    border-radius: 3%;
}
.celula {
    display: flex;
    align-content: center;
    justify-content: left;
    padding: 1%;
    margin-left: 10px;
    box-shadow: 2px 4px 4px #4b4b4b;
    background-color: #000000;
}

.relacionados {
    padding: 3px;
     text-align: center;
     text-decoration: none;
     line-height: 30px;
     color: #ffffff;
     transition: 0.2s;
}

.relacionados:hover {
    background-color:  #135077;
    color: #000000;
    border-radius: 5px;
}


.secao-imgs {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*  IMAGENS DE FUNDO  */
.secao-imgs:nth-of-type(1) {
    background-image: url(/img/design2.svg);
    height: 600px;
}
.secao-imgs:nth-of-type(3) {
    background-image: url(/img/design3.svg);
    height: 600px;
}.secao-imgs:nth-of-type(5) {
    background-image: url(/img/design4.svg);
    height: 600px;
}.secao-imgs:nth-of-type(7) {
    background-image: url(/img/design6.svg);
    height: 600px;
}
 /* CONTEÚDOS DAS SECTIONS: secao-imgs  */
 .secao-imgs:nth-of-type(2) h2, .celula h1, .faixa h1, .faixa2 h1, .faixa4 h1   {
    display: flex;
    width: 60%;
    padding: 1%;
    color: #e78b00;
    font-size: 2em;
}
.secao-imgs:nth-of-type(2) h3, .celula h3, .faixa h3, .faixa2 h3, .faixa3 h3, .faixa4 h3, .faixa5 h3   {
    display: flex;
    width: 90%;
    padding: 10px;
    color: #0167b1;
    font-size: 1.5em;
}

.switch {
    position: relative;
    display: flex;
    width: 310px;
    height: 58px;
    top: -36px;
    left: -20px;
  }
  .switch input {display:none;}
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 46px;
    width: 46px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #ffffff00;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* Rounded sliders */
  .slider.round {
    border: 3px solid #ffffff;
    border-style: solid;
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
/* ----------- FINAL CABEÇALHO --------*/

/* 
:root {
    --scroll-height: 25px;
} */

@keyframes ondaAnimada {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }

}

@keyframes animeHorizontal {
    from {
        translate: -100vh 0;
    }
    to {
        translate: 50vh 0vh;
    }
}

@keyframes animeSrollbar {
    from {
        scale: 0 1;
    }
    to {
        scale: 1 1;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(30% 30% 30% 30%);
    }
    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}

.faixa {
    animation: animeHorizontal 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 80%;
}
.faixa2 {
    animation: animeSrollbar 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}
.faixa3 {
    animation: reveal 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 25% cover 40%;
}
.faixa4 {
    animation: reveal 1ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 25% cover 40%;
}
.faixa5 {
    animation: animeHorizontal 1ms ease-in-out both;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

section.ondas-box {
    position: relative;
    width: 100%;
    height: 100vh;
}

.onda {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url("/img/design4.svg");
    /* background-size: 1000px 100px; */
    /* background-repeat: no-repeat; */
    background-size: 1000px 100px;
    animation: ondaAnimada 3s ease-in-out infinite alternate;
}
#onda1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}
#onda2 {
    z-index: 999;
    opacity: .5;
    background-position-x: 300px;
}
#onda3 {
    z-index: 998;
    opacity: .2;
    background-position-x: 200px;
}
#onda4 {
    z-index: 997;
    opacity: .8;
    background-position-x: 100px;
}



/* ============ MENU -NAVBAR- ============ */
.navbar {
    display: flex;
    background-color: #00000000;
    width: 40%;
    padding-right: 80px;
}
/* Links inside the navbar */
.navbar a {
display: flex;
    float: left;
    font-size: 24px;
    color: white;
    text-decoration: none;
    position: relative;
    margin: 0px 40px;
}
.navbar a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-image: linear-gradient(45deg, #0800ff, #00e5ff);

    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}
.navbar a:hover::after {
    width: 80%;
}
.navbar a#pagina-atual::after {
    width: 30%;
}


/* The dropdown container */
.dropdown {
    float: left;
    height: auto;
    position: relative;
}
  
 /* Dropdown button */
 .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 12px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    cursor: pointer;
}
  
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0);
}
  

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    padding: 2px;
    min-width: 100px;
    margin: 10px;
    top: 70%;
    left:0;
    border-radius: 10px;
    height: 180px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    top: 0px;
    margin: 10px;
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #00000000;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* --------------- FINAL MENU ---------- */


 /* BOTÃO HAMBURGER */ 
 .btn-mobile{
    display: none;
 }
 .linha {
    width: 25px;
    height: 2px;
    background-color: #ccc;
    display: block;
    margin: 8px auto;
    position: relative;
    transform-origin: center;
    transition: .3s;
}
.btn-hamburger {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    padding: 1%;
}
.btn-hamburger.ativar {
    margin-top: 5px;
    border: 2px solid red;
}
.btn-hamburger.ativar .linha:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
    background-color: red;
}
.btn-hamburger.ativar .linha:nth-child(2) {
    width: 0;
}
.btn-hamburger.ativar .linha:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
    background-color: red;
}



/* ================= MEDIA SCREN ================== */
 @media screen and (max-width: 800px) {

    body {
        max-width: 500px;
        margin-top: 0px;
        height:auto;
    }

    .logo {
        display: flexbox;
        position: relative;
        margin-bottom: 0%;
        margin-left: 0px;
        width: 100%;
        height: 255px;
        border: 1%;
        top: 0px;
        left: 4.4px;
        padding: 0%;
    }
    .logo h1 {
        color: #fff;
        font-size: 2.5em;
        font-family: 'Open Sans', sans-serif;
        align-items: left;
        padding: 0px 0px 2px 0px;
        left: 0px;
        top: 0px;
    } 
    .tamanho-diferente {
        color: rgba(255, 255, 255, 0.899) ;
        font-size: .8em;
        font-family: 'Open Sans', sans-serif;
        padding: 19px 5px 0px 0px;
    }
    .logo h2 {
        font-size: 12px;
        padding-bottom: 3px;
    }
    .logo h3 {
        color: #ffffffdc;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        padding: 5px 0px 0px 35px;
        top: 170px;
    }

    .navbar {
        display: none; 
        position: relative;
        width: 100%;
        height: 60vh;
        top: 0px;
        left: 0;
        margin: 4%;
    }

    .banner > h1{
        display: inline-flexbox;
        position: absolute;
        align-content: center;
        justify-content: center;
        font-size: 2em;
        color: #ffffff;
        width: 100%;
        top: 325px;
        left: 20px;
    }
    .banner > h1.destaque, .secao-imgs h3 {
         color: #0e48ac;
         top: 460px;
         left: 20px;
         font-size: 1.3em;
        }
 

        .faixa2 img, .faixa3 img, .faixa4 img {
            width: 100px;
            height: 180px;
            display: block;
        }
        .faixa {
            display: flexbox;
            position: absolute;
            top: 420px;
            left: -45px;
            background-color: #ffffff;
            border-radius: 3%;
            box-shadow: 2px 4px 4px #4b4b4b;
        }
        .faixa2 {
            display: flexbox;
            position: absolute;
            top: 2040px;
            left: -60px;
            background-color: #ffffff8a;
            border-radius: 3%;
            box-shadow: 2px 4px 4px #4b4b4b;
        }
        .faixa3 {
            display: flexbox;
            position: absolute;
            top: 1300px;
            border-right: 0;
            background-color: #000000;
            font-size: 2em;
            padding: 20px;
            left: 0px;
            color: #ffffff;
            border-radius: 3%;
            box-shadow: 2px 4px 4px #4b4b4b;
        }
        .faixa4 {
            display: flexbox;
            position: absolute;
            top: 2400px;
            left: -40;
            background-color: #000000;
            border-radius: 3%;
            box-shadow: 2px 4px 4px #4b4b4b;
        }

        .faixa5 {
            display: flexbox;
            position: absolute;
            top: 3350px;
            left: 0;
            background-color: #000000;
            border-radius: 3%;
            box-shadow: 2px 4px 4px #4b4b4b;
        }
        .faixa > img, .faixa2 > img, .faixa3 > img, .faixa4 > img {
            padding: 2px;
            border: 1px;
            border-radius: 3%;
            width: 395px;
            height: 200px;
        }

.secao-imgs#secao-img-id1 {
    display: flexbox;
    position: absolute;
    top: 1600px;
    left: 0px;
}
.secao-imgs#secao-img-id2 {
    display: flexbox;
    position: absolute;
    top: 2300px;
    left: 0px;
}
.secao-imgs#secao-img-id3 {
    display: flexbox;
    position: absolute;
    top: 3400px;
    left: 0px;
}
.secao-imgs#secao-img-id3 .conteudo-textocoluna {
    font-size: .9em;
}
.secao-imgs#secao-img-id1 .celula .img-coluna img {
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
}
.secao-imgs#secao-img-id2 .celula .img-coluna img {
    width: 150px;
    height: 200px;
    transform: rotate(45deg);
}
.secao-imgs#secao-img-id3 .celula .img-coluna img {
    width: 150px;
    height: 200px;
    transform: rotate(45deg);
}

/*  IMAGENS DE FUNDO  */
.secao-imgs:nth-of-type(1) {
    background-image: url(/img/design2.svg);
    height: 600px;
    width: 100%;
}
.secao-imgs:nth-of-type(3) {
    background-image: url(/img/design3.svg);
    height: 600px;
    width: 100%;
}.secao-imgs:nth-of-type(5) {
    background-image: url(/img/design4.svg);
    height: 600px;
    width: 100%;
}.secao-imgs:nth-of-type(7) {
    background-image: url(/img/design6.svg);
    height: 600px;
    width: 100%;
}

.onda {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 960px;
    bottom: 0; 
    background-image: url('/img/design4.svg');
    background-size: 500px 100px;
    animation: ondaAnimada 3s ease-in-out infinite alternate;
}
#onda1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}
#onda2 {
    z-index: 999;
    opacity: .5;
    background-position-x: 300px;
}
#onda3 {
    z-index: 998;
    opacity: .2;
    background-position-x: 200px;
}
#onda4 {
    z-index: 997;
    opacity: .8;
    background-position-x: 100px;
}

    /*  ------- Ação ativar menu mobile ---------  */
    .open {
        display: inline;
    }

    .ativar {
        display: block;
    }

    .btn-mobile {
        display: block;
        cursor: pointer;
    }
    .btn-hamburger#btn-menu {
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 330px;
        background-color: #ffffff;
    }

    /*  ------------------------  */
    .rodape {
        clear: both;
        margin: 10px;
        position: relative;
        top: 650px;
        block-size: 400px;
        width: 107%;
        background-image:  linear-gradient(90deg, #000000, #8ea5a8);
    }
    .rodape > .info {
        display: block;
        position: static;
        width: 100%;
        left: 30px;
    }
    .rodape > .info > div {
        display: block;
        width: 100%;
    }

} /* ----------- FINAL MEDIA -------- */



.hidden{
    display: none;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0f6469;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color:  #04a4cd;
}

/* Links */
.decoration {
    padding: 3px;
     text-align: center;
     text-decoration: none;
     line-height: 30px;
     color: #ffffff;
     transition: 0.2s;
}

.decoration:hover {
    background-color:  #135077;
    color: #ffffff;
    border-radius: 5px;
}



/* ================= RODAPÉ */
.rodape {
    clear: both;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    margin: 0%;
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    height: auto;
}
.rodape ul li {
    list-style: none;
}
.rodape h2 {
    padding-bottom: 1%;
    font-size: 14px;
}
.rodape p {
    padding-bottom: 1%;
    font-size: 14px;
}
.rodape div {
    display: flex;
    float: left;
    width: 100%;
    margin: 0%;
}


.info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
}
.info div {
    display: inline-block;
    top: 0%;
    width: 100%;
    padding: 12px 60px;
}


.info h2 {
    padding: 5% 12% 2% 0%;
}
.referencia {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


 