@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&display=swap');

/* INICIAR LIMPEZA DE ESTILOS */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 2000px;
}
body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(90deg, #000000, #1261c7);
}
/* ================= CABEÇALHO ========*/
.cabecalho {
    position: fixed;
    background-image: linear-gradient(90deg, #000000, #1261c7);
    width: 100%;
    padding: 60px /* 4% */;
    top: 0;
    left: 0;
    height: auto;
    transition: .8s;
    z-index: 1100;
}

.cabecalho.rolagem {
    background-color: #ffffff;
    padding: 0px 4%; 
}
.cabecalho.rolagem a {
    color: #d25800;
}

.container {
    max-width: 100%;
    margin: auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo {
    display: block;
    width: 55%;
}
.logo a img {
    width: 200px;
    padding: 0px;
    margin: 0%;
    top: -40px;
}
.logo h1 {
    color: #fff;
    font-size: 52px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 0px 2px 0px;
    left: 0px;
    top: 0px;
}
.tamanho-diferente {
    color: rgba(255, 255, 255, 0.899) ;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    padding: 19px 5px 0px 0px;
}

.logo h3 {
    color: #000000dc;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 2px 0px 0px 35px;
    top: 170px;
}

.banner {
    height: 100vh;
    background-image: url(../img/design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0de2f1;
    background-attachment: fixed;
    background-size: cover;
    align-content: center;
    justify-content: center;
}
.banner > h1 {
    display: inline-flexbox;
    position: absolute;
    align-content: center;
    justify-content: center;
    font-size: 3em;
    color: #ffffff;
    top: 295px;
    left: 135px;
}
.banner > h1.destaque {
    color: #2264d7;
    top: 500px;
    font-size: 34px;
}
.banner > img {
    display: block;
    position: absolute;
    transform: rotate(355deg);
    top: 430px;
    left: 50%;
}




.switch {
    position: relative;
    display: inline-block;
    width: 310px;
    height: 58px;
    top: -38px;
    left: -20px;
  }
  .switch input {display:none;}
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 46px;
    width: 46px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2195f300;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* Rounded sliders */
  .slider.round {
    border: 1px solid #ffffff;
    border-style: solid;
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
/* ----------- FINAL CABEÇALHO --------*/


@keyframes ondaAnimada {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }

}

section.ondas-box {
    position: relative;
    width: 100%;
    height: 100vh;
}

.onda {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url('/img/onda.png');
    background-size: 1000px 100px;
    animation: ondaAnimada 2s ease-in-out infinite alternate;
}
#onda1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}
#onda2 {
    z-index: 999;
    opacity: .5;
    background-position-x: 300px;
}
#onda3 {
    z-index: 998;
    opacity: .2;
    background-position-x: 200px;
}
#onda4 {
    z-index: 997;
    opacity: .8;
    background-position-x: 100px;
}



/* ============ MENU -NAVBAR- ============ */
.navbar {
    /* overflow: hidden; */
    display: flex;
    background-color: #00000000;
    width: 45%;
    padding-right: 80px;
}
/* Links inside the navbar */
.navbar a {
display: flex;
    float: left;
    font-size: 2emx;
    color: white;

    text-decoration: none;
    position: relative;
    margin: 0px 40px;
}
 /* Efeito de linha abaixo do texto  */
 .navbar a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-image: linear-gradient(45deg, #0800ff, #00e5ff);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}
.navbar a:hover::after {
    width: 80%;
}
.navbar a#pagina-atual::after {
    width: 30%;
}


/* The dropdown container */
.dropdown {
    float: left;
    /* overflow: hidden; */
    height: auto;
    position: relative;
}
  
 /* Dropdown button */
 .dropdown .dropbtn {
    font-size: 2em;
    border: none;
    outline: none;
    color: white;
    padding: 12px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    cursor: pointer;
}
  
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0);
}
  

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-image:  linear-gradient(45deg, #000000, #d3edf0);
    padding: 1px;
    min-width: 100px;
    margin: 10px;
    top: 65%;
    left:0;
    border-radius: 10px;
    height: auto; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1200;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    top: 0px;
    margin: 5px;
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #00000000;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* --------------- FINAL MENU ---------- */


 /* BOTÃO HAMBURGER */ 
 .btn-mobile{
    display: none;
 }
 .linha {
    width: 25px;
    height: 2px;
    background-color: #ccc;
    display: block;
    margin: 8px auto;
    position: relative;
    transform-origin: center;
    transition: .3s;
}
.btn-hamburger {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
/* ------------ */
display: inline-block;
padding: 1%;
}
.btn-hamburger.ativar {
    margin-top: 5px;
    border: 2px solid red;
}
.btn-hamburger.ativar .linha:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
    background-color: red;
}
.btn-hamburger.ativar .linha:nth-child(2) {
    width: 0;
}
.btn-hamburger.ativar .linha:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
    background-color: red;
}



/* ================= MAIN ================== */
.main {
    float: left;
    background-image:  linear-gradient(45deg, #000000, #8ea5a8);
    width: 97%; /* A largura é de 60%, por padrão */
    margin: 20px 30px 20px 30px;
    padding: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.main h2 {
    margin-top: 2%;
    margin-bottom: 1%;
    color:  #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 24px;
    padding: 7px;
}
.main h3 {
    margin-top: 5%;
    margin-bottom: 1%;
    color:  rgb(7, 129, 151);
    border-left: 5px solid rgb(151, 7, 7);
    font-size: 18px;
    padding-left: 7px;
    text-transform: uppercase;
}

.main p {
    margin-top: 1%;
    margin-bottom: 1%;
    color:   #ffffff; 
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    padding: 7px;
}

.main ul li {
    list-style: none;
} 

.left {
    float: left;
    width: 80%;
    padding: 0% 2% 0% 0%;
}
.right {
    float: right;
    width: 20%; 
} 

/* --------------- FINAL MAIN ------------ */




/* ================= MEDIA SCREN ================== */
 /* Use uma consulta de mídia para adicionar um ponto de interrupção a 800px: */
 @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* A largura é de 100%, quando o visor é de 800px ou menor */
    }

    header {
        display: inline-block;
        position: relative;
        text-align: left;
        top: 0%;
        left: 25px;
        margin: 0%; 
        width: 100%;
        height: auto;
        border: 4% solid  #7bcfaf;
        border-radius: 15px;
        align-content: baseline;
    }

    body {
        background-image:  linear-gradient(90deg, #000000, #8ea5a8);
        max-width: 400px;
        margin-top: 0px;
        margin-right: 10px;
        height:auto;
    }
    .main h2 {
        color:  #064171;
    }
    .right h2 {
        color: #0187a7;
    }
    .logo {
        display: flexbox;
        position: relative;
        margin-bottom: 0%;
        margin-left: 0px;
        width: 98%;
        height: auto;
        border: 1%;
        top: 0px;
        left: 4.4px;
        padding: 1%;
    }
    .logo h1 {
        font-size: 2em;
    }    
    .logo h2 {
        font-size: 1em;
        padding-bottom: 3px;
    }
    .logo h3 {
        color:  #089ec3;
        
        font-size: .6em;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 0% 0% 2% 2%;
        align-items: baseline;
        left: 10%;
    }


    .navbar {
        display: none;
        position: relative;
        width: 100%;
        height: auto;
        top: 0px;
        left: 0;
        margin: 4%;
    }




    .banner > h1 {
        display: inline-flexbox;
        position: absolute;
        align-content: center;
        justify-content: center;
        font-size: 2em;
        color: #ffffff;
        top: 295px;
        left: 135px;
    }
    .banner > h1.destaque {
        color: #2264d7;
        top: 520px;
        font-size: 1.2em;
    }

    /*  ------- Ação ativar menu mobile ---------  */
    .open {
        display: inline;
    }

    .ativar {
        display: block;
    }

    .btn-mobile {
        display: block;
        cursor: pointer;
    }
    .btn-hamburger#btn-menu {
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 330px;
        background-color: #ffffff;
    }

    /*  ------------------------  */
    .rodape {
        clear: both;
        block-size: 400px;
        width: 107%;
        background-image:  linear-gradient(90deg, #000000, #8ea5a8);
    }
    .rodape > .info {
        display: block;
        position: static;
        width: 100%;
        left: 30px;
    }
    .rodape > .info > div {
        display: block;
        width: 100%;
    }

} /* ----------- FINAL MEDIA -------- */



.hidden{
    display: none;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0f6469;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color:  #04a4cd;
}

/* Links */
.decoration {
    padding: 3px;
     text-align: center;
     text-decoration: none;
     line-height: 30px;
     color: #ffffff;
     transition: 0.2s;
}

.decoration:hover {
    background-color:  #135077;
    color: #ffffff;
    border-radius: 5px;
}



/* ================= RODAPÉ */
.rodape {
    clear: both;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    margin: 0%;
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    height: auto;
}
.rodape ul li {
    list-style: none;
}
.rodape h2 {
    padding-bottom: 1%;
    font-size: 14px;
}
.rodape p {
    padding-bottom: 1%;
    font-size: 14px;
}
.rodape div {
    display: flex;
    float: left;
    width: 100%;
    margin: 0%;
}


.info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
}
.info div {
    display: inline-block;
    top: 0%;
    width: 100%;
    padding: 12px 60px;
}


.info h2 {
    padding: 5% 12% 2% 0%;
}
.referencia {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


 